/* === RESET === */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* === BODY === */
body {
    font-family: 'Space Mono', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0;
}

/* === WRAPPER === */
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* === CARD === */
.profile-card {
    width: 330px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 8px 8px 0px #000;
    overflow: hidden;
}

/* === HEADER === */
.profile-header {
    background-color: #f60924;
    height: 150px;
    position: relative;
    border-bottom: 3px solid #000;
}

/* === IMAGE === */
.profile-image {
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    background-color: #fff;
    padding: 3px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    box-shadow: 0 0 0 1px #000000;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* === CONTENT === */
.profile-content {
    padding: 60px 20px 20px;
    text-align: center;
}

/* === NAME === */
.profile-name {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 5px;
}

/* === ROLE === */
.profile-role {
    font-family: 'Space Mono', cursive;
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

/* === DESCRIPTION === */
.profile-description {
    margin: 15px auto 30px;
    padding: 10px;
    border: 2px dashed #000;
    background-color: #f1eaeaed;
    width: 280px;
}

.profile-text {
    font-size: 0.9em;
    line-height: 1.2;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    white-space: pre-line;
}

/* === BUTTON === */
.profile-button {
    background-color: #47b24a;
    color: white;
    text-shadow: 2px 2px 0 #000;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 10px 30px;
    border: 3px solid #000;
    border-radius: 0;
    box-shadow: 3px 3px 1px #000;
    cursor: pointer;
    transition: all 0.1s ease;
}

.profile-button:hover {
    background-color: #5ac85f;
}

.profile-button:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 0 #000;
}